{{ define "main" }}
<div class="gradient py-16 px-4 text-center">
  <h1 class="font-display font-bold text-3xl text-white">Portfolio</h1>
</div>

{{ partial "heading" (dict "h2" "Recent projects") }}

<ul class="px-4 mb-8">
  {{ range .Pages }}
  <li class="bg-gray-200 rounded">
    {{ $title := .Title }}
    {{ with .Params.image }}

    <div class="text-black p-4 pb-0 mt-8 flex justify-between items-center">
      <h4 class="mr-1 text-sm font-semibold">{{$title}}</h4>
      <a class="bg-red-700 text-white px-4 py-1 rounded text-sm" href="{{$.Permalink}}">Details</a>
    </div>
    <img src="{{ . }}" alt="{{$title}}" class="p-4" />
    {{ end }}
  </li>
  {{ end }}
</ul>

{{ partial "teaser.html" }}

{{ end }}
