{{ define "main" }}
<article class="mb-8">
  <div class="gradient py-16 px-4 text-center">
    <h1 class="font-display font-bold text-3xl text-white">{{ .Title }}</h1>
  </div>

  {{ partial "heading" (dict "h2" "Project highlights") }}

  {{ range .Params.Highlights }}
  <ul class="text-gray-800 text-left px-4">
    <li class="mb-4 flex">
      <div class="mt-1">
        <i class="border-2 border-red-600 text-red-700 p-2 mr-2 {{ .icon }}"></i>
      </div>
      <div>
        <div class="font-semibold text-gray-800">{{ .title }}</div>
        <div class="text-gray-600">{{ .description }}</div>
      </div>
    </li>
  </ul>
  {{ end }}

  {{ partial "heading" (dict "h2" "Skills & Technologies") }}

  <div class="px-4 text-gray-700">
    {{ .Content }}
  </div>
</article>
{{ end }}
