<div class="flex">
  <div class="hidden lg:block lg:w-1/2 lg:flex">
    <div class="w-full bg-cover bg-left-top contact-us"></div>
  </div>
  <div class="flex flex-col bg-gray-200 py-8 px-4 lg:px-12 lg:w-1/2">
    <div class="lg:mx-auto" style="max-width: 1200px;">
      <h2 class="w-full text-center text-3xl lg:text-4xl font-semibold font-sans">
        <a name="contact-us">Contact us!</a>
      </h2>
      <div class="w-full text-center text-red-600 mb-4 fancy-border">
        <i class="fas fa-chevron-down"></i>
      </div>
      <p class="w-full text-center text-gray-800 mb-4">
        We are looking forward to finding out how we can collaborate with you!
      </p>

      <form name="chesscoders-contact" method="POST" data-netlify="true">
        <input type="text" name="name" aria-label="Name"
          class="w-full px-4 py-2 mb-4 border border-gray-500 text-gray-800 focus:text-gray-900 focus:border-green-500"
          placeholder="Name" required />
        <input type="email" name="email" aria-label="Email"
          class="w-full px-4 py-2 mb-4 border border-gray-500 text-gray-800 focus:text-gray-900 focus:border-green-500"
          placeholder="Email" required />
        <input type="text" name="phone" aria-label="Phone"
          class="w-full px-4 py-2 mb-4 border border-gray-500 text-gray-800 focus:text-gray-900 focus:border-green-500"
          placeholder="Phone" />
        <textarea name="message" aria-label="Message"
          class="w-full px-4 py-2 mb-4 border border-gray-500 text-gray-800 focus:text-gray-900 focus:border-green-500"
          rows="3" placeholder="Message"></textarea>
        <button type="submit" class="bg-red-700 text-white text-base py-2 px-4">Send message</button>
      </form>
    </div>
  </div>
</div>
