<div class="relative h-screen bg-cover bg-center bg-no-repeat overflow-hidden"
  style="background-image: url(/images/chesscoders-home.jpg)">
  <div class="opacity-75 h-screen" id="scene"
    style="background: rgb(0, 0, 0) -webkit-linear-gradient(top, rgba(38, 6, 51) 40%, rgb(236, 97, 93) 100%) repeat scroll 0% 0%;">
      <div data-depth="0.2">
        <div class="w-full opacity-50 graph-left">
          <img src="/chesscoders-graph.png" class="w-full" alt="Chesscoders Graph Design" />
        </div>
        <div class="w-full opacity-50 graph-right">
          <img src="/chesscoders-graph.png" class="w-full" alt="Chesscoders Graph Design" />
        </div>
      </div>
  </div>
  <div class="flex w-full h-screen items-center justify-center p-8"
    style="position: absolute; top:0; left:0; z-index: 1;">
    <div>
      <div
        class="uppercase text-white font-bold leading-tight text-5xl sm:text-6xl md:text-7xl lg:text-8xl zoomIn animate-me">
        <div class="text-red-500">Chess</div>
        <div>Coders</div>
      </div>
      <h2
        class="text-red-500 font-bold mt-2 text-2xl sm:text-2xl md:text-3xl lg:text-4xl xxx fadeInRight animate-me delay-me">
        Modern software solutions
      </h2>
      <div class="text-white text-2xl lg:text-4xl mt-8">
        <a href="/#who-we-are" class="flex flex-col bounce" aria-label="Who we are">
          <i class="fas fa-sort-down"></i>
          <i class="fas fa-sort-down"></i>
          <i class="fas fa-sort-down"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<script src="https://unpkg.com/parallax-js@3.1.0/dist/parallax.min.js" async></script>
<script>
  var scene = document.getElementById("scene");
  var parallaxInstance = new Parallax(scene);
</script>
