<div class="flex">
  <div class="flex flex-col bg-gray-200 py-8 px-4 lg:py-24 w-full lg:w-1/2">
    <div class="lg:flex lg:flex-col lg:w-2/3 lg:mx-auto">
      <h2 class="w-full text-center text-3xl lg:text-4xl font-semibold font-sans">
        <a name="how-can-you-reach-us">How can you reach us</a>
      </h2>
      <div class="w-full text-center text-red-600 mb-4">
        <i class="fas fa-chevron-down"></i>
      </div>
      <ul class="text-gray-800 text-left">
        <li class="mb-2">
          <i class="border-2 border-red-600 text-red-700 p-2 mr-2 fas fa-map-signs"></i>
          Bucharest, Calea Moșilor 158
        </li>
        <li class="mb-2">
          <i class="border-2 border-red-600 text-red-700 p-2 mr-2 fas fa-phone"></i>
          +40727123589
        </li>
        <li class="mb-2">
          <i class="border-2 border-red-600 text-red-700 p-2 mr-2 fas fa-envelope"></i>
          office@chesscoders.com
        </li>
        <li class="mb-2">
          <i class="border-2 border-red-600 text-red-700 p-2 mr-2 fas fa-clock"></i>
          We'll respond in less than 24 hours
        </li>
      </ul>
    </div>
  </div>
  <div class="hidden lg:block lg:w-1/2 lg:flex lg:flex-col lg:relative items-center">
    <div class="w-full h-full bg-cover bg-left-bottom how-can-you-reach-us"></div>
    <a href="https://g.page/chesscoders" target="_blank" rel="noopener noreferrer"
      aria-label="How can you reach Chess Coders" class="-mt-16 bg-red-700 text-white text-base py-2 px-4">Get
      directions</a>
  </div>
</div>
