<script src="https://unpkg.com/swiper@5.0.4/js/swiper.min.js"></script>

<div class="flex flex-col mb-4 bg-white py-8 px-4">
  <h2 class="w-full text-center text-3xl lg:text-4xl font-semibold font-sans">
    <a name="our-team">Our Team</a>
  </h2>
  <div class="w-full text-center text-red-600 mb-4">
    <i class="fas fa-chevron-down"></i>
  </div>

  <div class="swiper-container w-full sm:w-2/3" style="max-width: 1200px">
    <div class="swiper-wrapper flex align-center">
      {{ range .Params.Team }}
      <div class="swiper-slide">
        <img src="{{.image}}" alt="{{.member}}" class="rounded-full mx-auto mb-4 w-32 h-32" />
        <h3 class="w-full text-center text-2xl font-bold text-gray-800">{{.member}}</h3>
        <p class="mb-4 w-full text-center font-bold text-red-700">{{.role}}</p>
        <p class="mb-4 w-full">{{.description}}</p>
        <div class="w-full">
          {{ range .links }}
          <a href="{{.url}}" target="_blank" aria-label="{{.label}}" rel="noopener noreferrer">
            <i class="border-2 border-red-600 text-red-700 p-2 rounded-full {{.icon}}"></i>
            <span class="hidden">{{.label}}</span>
          </a>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
</div>

<script>
  var swiper = new Swiper(".swiper-container", {
    pagination: {
      el: ".swiper-pagination",
      clickable: true
    },
    autoplay: {
      delay: 7000,
      disableOnInteraction: false
    },
    breakpoints: {
      1024: {
        slidesPerView: 3,
        spaceBetween: 50,
      },
    }
  });
</script>
