<ul class="bg-white text-left" id="menulist">
  <li>
    <button onclick="closeMenu()" class="w-8 h-8 bg-red-500 text-white">
      <i class="fas fa-times"></i>
    </button>
  </li>
  <li class="border-gray-200 px-4 border-b border-gray-200">
    <a href="/" class="block text-gray-900">Home</a>
  </li>
  <li class="border-gray-200 px-4 border-b border-gray-200">
    <a href="/#who-we-are" class="block text-gray-900">About us</a>
  </li>
  <li class="border-gray-200 px-4 border-b border-gray-200">
    <a href="/#our-services" class="block text-gray-900">Services</a>
  </li>
  <li class="border-gray-200 px-4 border-b border-gray-200">
    <a href="/portfolio" class="block text-gray-900">Portfolio</a>
  </li>
  <li class="border-gray-200 px-4 border-b border-gray-200">
    <a href="/#our-team" class="block text-gray-900">Our Team</a>
  </li>
  <li class="border-gray-200 px-4 border-b border-gray-200">
    <a href="/#our-process" class="block text-gray-900">Our Process</a>
  </li>
  <li class="border-gray-200 px-4 border-b border-gray-200">
    <a href="/#contact-us" class="block text-gray-900">Contact us</a>
  </li>
</ul>
