<ul class="bg-white">
  <li class="border-gray-200">
    <a href="/" class="block text-gray-900">Home</a>
  </li>
  <li class="border-gray-200">
    <a href="/#about-us" class="block text-gray-900">About us</a>
  </li>
  <li class="border-gray-200">
    <a href="/#our-services" class="block text-gray-900">Services</a>
  </li>
  <li class="border-gray-200">
    <a href="/#portfolio" class="block text-gray-900">Portfolio</a>
  </li>
  <li class="border-gray-200">
    <a href="/#our-team" class="block text-gray-900">Our Team</a>
  </li>
  <li class="border-gray-200">
    <a href="/#our-process" class="block text-gray-900">Our Process</a>
  </li>
  <li class="border-gray-200">
    <a href="/#contact-us" class="block text-gray-900">Contact us</a>
  </li>
</ul>
