<script src="https://unpkg.com/swiper@5.0.4/js/swiper.min.js"></script>

<div class="flex flex-col mb-4 bg-white py-8 px-4">
  <h2 class="w-full text-center text-3xl font-semibold font-sans">
    <a name="our-team">Our Team</a>
  </h2>
  <div class="w-full text-center text-red-600 mb-4">
    <i class="fas fa-chevron-down"></i>
  </div>

  <div class="swiper-container w-full">
    <div class="swiper-wrapper flex align-center">
      <div class="swiper-slide">
        <img src="/images/chesscoders-tiberiu-georgescu.jpg" alt="Tiberiu Georgescu"
          class="rounded-full mx-auto mb-4 w-32 h-32" />
        <h3 class="w-full text-center text-2xl font-bold text-gray-800">Tiberiu Georgescu</h3>
        <p class="mb-4 w-full text-center font-bold text-red-500">Co-Founder</p>
        <p class="mb-4 w-full">
          Tiberiu Georgescu has a PhD in Economic Informatics field. He is working in research in
          Artificial Intelligence, Cybersecurity and Internet of Things.
        </p>
        <div class="w-full">
          <a href="https://en.wikipedia.org/wiki/Tiberiu_Georgescu" target="_blank">
            <i class="border-2 border-red-400 text-red-500 p-2 rounded-full fab fa-wikipedia-w"></i>
          </a>
          <a href="mailto:tiberiu@chesscoders.com" target="_blank">
            <i class="border-2 border-red-400 text-red-500 p-2 rounded-full fas fa-envelope"></i>
          </a>
          <a href="https://www.linkedin.com/in/tiberiu-georgescu-25b51851/" target="_blank">
            <i class="border-2 border-red-400 text-red-500 p-2 rounded-full fab fa-linkedin-in"></i>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/images/chesscoders-victor-ocnarescu.jpg" alt="Victor Ocnarescu"
          class="rounded-full mx-auto mb-4 w-32 h-32" />
        <h3 class="w-full text-center text-2xl font-bold text-gray-800">Victor Ocnărescu</h3>
        <p class="mb-4 w-full text-center font-bold text-red-500">Co-Founder</p>
        <p class="mb-4 w-full">
          Victor is an experienced programmer, both as an entrepreneur and as a backend developer in
          large IT companies. More dedicated to the IT world than ever before.
        </p>
        <div class="w-full">
          <a href="https://github.com/victorocna" target="_blank">
            <i class="border-2 border-red-400 text-red-500 p-2 rounded-full fab fa-github"></i>
          </a>
          <a href="mailto:victor@chesscoders.com" target="_blank">
            <i class="border-2 border-red-400 text-red-500 p-2 rounded-full fas fa-envelope"></i>
          </a>
          <a href="https://www.linkedin.com/in/victorocnarescu/" target="_blank">
            <i class="border-2 border-red-400 text-red-500 p-2 rounded-full fab fa-linkedin-in"></i>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/images/chesscoders-bogdan-posedaru.jpg" alt="Bogdan Posedaru"
          class="rounded-full mx-auto mb-4 w-32 h-32" />
        <h3 class="w-full text-center text-2xl font-bold text-gray-800">Bogdan Posedaru</h3>
        <p class="mb-4 w-full text-center font-bold text-red-500">Co-Founder</p>
        <p class="mb-4 w-full">
          Bogdan has been active both as a businessman in several fields as well as a freelancer,
          working in IT. Now he is 100% focused on Chess Coders.
        </p>
        <div class="w-full">
          <a href="https://github.com/oblanao/" target="_blank">
            <i class="border-2 border-red-400 text-red-500 p-2 rounded-full fab fa-github"></i>
          </a>
          <a href="mailto:bogdan@chesscoders.com" target="_blank">
            <i class="border-2 border-red-400 text-red-500 p-2 rounded-full fas fa-envelope"></i>
          </a>
          <a href="https://www.linkedin.com/in/bogdanposedaru/" target="_blank">
            <i class="border-2 border-red-400 text-red-500 p-2 rounded-full fab fa-linkedin-in"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
</div>

<script>
  var swiper = new Swiper(".swiper-container", {
    pagination: {
      el: ".swiper-pagination",
      clickable: true
    },
    /*autoplay: {
      delay: 7000,
      disableOnInteraction: false
    }*/
  });
</script>
